server {
    listen 80;
    listen [::]:80;

    server_name _;

    client_max_body_size 100M;

    location / {
        root /var/www/ark-ui/html;
        try_files $uri $uri/ /index.html;
    }

    location /api {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_cache_bypass $http_upgrade;
    }

    location /socket.io {
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
    }

    location /flight-review {
        rewrite ^/flight-review$ /flight-review/ redirect;
        rewrite ^/flight-review/(.*)$ /$1 break;
        proxy_pass http://127.0.0.1:5006;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        # Sub-filter to adjust paths
        sub_filter '"/static/' '"/flight-review/static/';
        sub_filter '"/js/' '"/flight-review/js/';
        sub_filter '"/css/' '"/flight-review/css/';
        sub_filter_once off;

    }
}
